In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder

In [3]:
data = pd.read_csv("orig_train.csv")

In [ ]:
data.head()

# Descriptions of Continuous Variables

   * age - the age of the person in years
   * household_members - the number of people in the household of the client
   * no_of_dependents - the number of people financially dependent on this particular person
   * income - monthly income
   * work_seniority - tenure/ professional experience in a given industry
   * business age - the number of years that a company has been legally in operation
   * length_relationship_with_client - duration of the relationship with the client
   * debit_card - possession of a debit card (1 - true, 0 - false)
   * current_account - client's possession of a current account (1 - true, 0 - false)
   * saving_account - client's possession of a savings account (1 - true, 0 - false)
   * salary_account - client's possession of an account designated for receiving salaries (1 - true, 0 - false)
   * foreign_account - client's possession of a foreign/currency account (1 - true, 0 - false)
   * finalized_loan - whether a current loan has been granted (1 - yes, 0 - no)
   * deposit - whether a deposit payment was made when signing the contract (1 - yes, 0, - no)
   * pension_funds - pension funds, column only with values 0, so to be removed
   * default_flag - whether the client has debts (1 - yes, 0 - no)

# Descriptions of Textual Variables

   * product - type of loan/service chosen by a client
   * area - type of the client's area of residence
   * residential_place - the client's residential status: owner without mortgage - owner of a house without a mortgage, owner          with mortgage, renter, living with family, other - other
   * education - the highest level of education obtained
   * marital status - single, widow, married, divorced
   * economic sector - sector of economic activity
   * employee_no - number of employees in the company that the client is currently working

### Business goal

We are going to prepare a model for the bank to help predict whether a given customer should receive a particular product (A-F). We plan to predict a value in the Finalised Loan column that takes 0 when the customer doesn't receive a loan and 1 when they receive one.

In [ ]:
# Summary statistics for numerical features
numerical_summary = data.describe()

numerical_summary

* We have 15097 observations in the set. 
* There are only values '0' in the Pension Funds column - this column is suitable for deletion. It does not contribute any information to the model.
* Maximum value of column 'Business Age' equals 116 and maximum value of column 'Length relationship with client' equals 110 which means these features don't relate to the clients but the company they're working in

In [ ]:
# Frequency counts for categorical features
categorical_columns = data.select_dtypes(include=['object']).columns
categorical_summary = data[categorical_columns].describe()

categorical_summary

* There are no categorical variables where we would have a very large number of categories (for all columns there are less than 20 values). 
* In two columns, the most common value is Missing. We will probably try to imputate them using Advanced Imputation Techniques (Random Forest Model).
* There are two ordered categorical variables: 'Education' and 'Employee No' and 5 nominal variables.

In [ ]:
data["AREA"].unique()

* We have some missing values

In [ ]:
data["PRODUCT"].unique()

In [ ]:
data["RESIDENTIAL_PLACE"].unique()

In [ ]:
data["EDUCATION"].unique()

* Again some Missing values

In [ ]:
data["MARITAL_STATUS"].unique()

In [ ]:
data["ECONOMIC_SECTOR"].unique()

In [ ]:
data["EMPLOYEE_NO"].unique()

In [ ]:
# Binary columns 

binary_columns = [col for col in data.columns if data[col].dropna().isin([0, 1]).all() ]

# Summary table for binary columns

binary_summary = data[binary_columns].apply(pd.Series.value_counts).T

binary_summary

 Distribution of FINALIZED_LOAN: About 83.58% of the clients in the dataset have FINALISED_LOAN = 0, 
 while approximately 16.42% have FINALISED_LOAN = 1. This unbalanced distribution indicates that we will need to
 apply class-balancing techniques or adjust model evaluation metrics accordingly to avoid biases 
 in favour of the dominant class. From this data, we see that negative credit decisions are given more often than the positive ones

Distribution of SAVING_ACCOUNT, FOREIGN_ACCOUNT and DEPOSIT is very skewed and we 
might want to remove these rows in the future

In [ ]:
# Checking for missing values
missing_values = data.isnull().sum()

missing_values

There are only zeros here because all the missing values in this csv are marked as "Missing"

In [ ]:
# Proportion of missing values
missing_proportions = {}
for column in categorical_columns:
    total = len(data[column])
    missing_count = sum(data[column] == 'Missing')
    missing_proportions[column] = (missing_count / total) * 100

missing_proportions_df = pd.DataFrame(missing_proportions.items(), columns=['Column', 'Missing Proportion (%)'])

missing_proportions_df

* As the number of missing data in the columns EMPLOYEE_NO and ECONOMIC_SECTOR exceeds 20 % we might want to imputate the missing values. We will also try to imputate missing values in column Education.

* We are going to remove rows with missing value in column Area

In [ ]:
sns.set(style="whitegrid")

# Subset of numerical columns for visualization
numerical_columns = ['AGE', 'HOUSEHOLD_MEMBERS', 'NO_OF_DEPENDENTS','INCOME', 'WORK_SENIORITY', 'BUSINESS AGE', 'LENGTH_RELATIONSHIP_WITH_CLIENT']

# Plotting histograms for the selected numerical features
plt.figure(figsize=(15, 15))
for i, column in enumerate(numerical_columns, 1):
    plt.subplot(3, 3, i)
    sns.histplot(data[column], bins=30, kde=True)
    plt.title(f'Distribution of {column}')
    plt.xlabel(column)
    plt.ylabel('Frequency')

plt.tight_layout()
plt.show()

In [ ]:
# Plotting box plots for the selected numerical features

plt.figure(figsize=(15, 15))
for i, column in enumerate(numerical_columns, 1):
    plt.subplot(3, 3, i)
    sns.boxplot(y=data[column])
    plt.title(f'Box Plot of {column}')

plt.tight_layout()
plt.show()

* We can see that with a high probability the value that exceeds 100 in column Length Relationship With Client is probably a mistake beacuse it's far from other observations on the boxplot. So now this column can actually mean something different, for example the length of relationship between bank and the client

In [ ]:
# Plotting bar plots for the selected categorical features against the FINALISED_LOAN

categorical_columns = ['PRODUCT', 'AREA', 'RESIDENTIAL_PLACE', 'EDUCATION', 'MARITAL_STATUS', 'EMPLOYEE_NO']
plt.figure(figsize=(15, 20))
for i, column in enumerate(categorical_columns, 1):
    plt.subplot(6, 1, i)
    sns.countplot(x=column, hue='FINALIZED_LOAN', data=data)
    plt.title(f'Distribution of {column} by FINALISED_LOAN')
    plt.xlabel(column)
    plt.ylabel('Count')
    plt.legend(title='FINALIZED_LOAN', loc='upper right')

plt.tight_layout()
plt.show()

In [ ]:
# I have changed the orientation of the plot so that the values on the axis can be readable
plt.figure(figsize=(6, 20)) 
sns.countplot(y='ECONOMIC_SECTOR', data=data) 
plt.title('Economic Sector Distribution')
plt.xlabel('Count')
plt.ylabel('Economic Sector') 
plt.show()

In [ ]:
# Correlation matrix
corr = data.corr()

# Mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

plt.figure(figsize=(12, 10))

# Heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap='coolwarm', annot=True, fmt=".2f", linewidths=0.5)
plt.title('Correlation Matrix')
plt.show()

* We can see that there is a high correlation between column Current_Account and column Debit_Card, so we'll remove one of them.
* The same situation is with columns Number of dependents and Household members.
* We can notice that column Finalised Loan that we are going to predict is quite strongly correlated with column Length relationoship with Client so that feature might be crucial in our model

In [ ]:
data.groupby(["PRODUCT","FINALIZED_LOAN"]).agg("size").reset_index(name="count")

In [ ]:
data.groupby(["AREA","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["RESIDENTIAL_PLACE","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["EDUCATION","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["MARITAL_STATUS","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["HOUSEHOLD_MEMBERS","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["NO_OF_DEPENDENTS","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["INCOME","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["WORK_SENIORITY","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["BUSINESS AGE","FINALIZED_LOAN"]).size().reset_index().tail(10)

In [ ]:
data.groupby(["ECONOMIC_SECTOR","FINALIZED_LOAN"]).size().reset_index()

In [ ]:
data.groupby(["EMPLOYEE_NO","FINALIZED_LOAN"]).size().reset_index()

In [13]:
data.groupby(["LENGTH_RELATIONSHIP_WITH_CLIENT","FINALIZED_LOAN"]).size().reset_index()

    LENGTH_RELATIONSHIP_WITH_CLIENT  FINALIZED_LOAN     0
0                                 1               0  5901
1                                 1               1    34
2                                 2               0  2962
3                                 2               1    15
4                                 3               0   109
5                                 3               1    28
6                                 4               0   155
7                                 4               1    26
8                                 5               0   147
9                                 5               1    19
10                                6               0   222
11                                6               1    13
12                                7               0   278
13                                7               1    66
14                                8               0   350
15                                8               1   204
16                                9               0   443
17                                9               1   311
18                               10               0   345
19                               10               1   403
20                               11               0   357
21                               11               1   328
22                               12               0   530
23                               12               1   576
24                               13               0   379
25                               13               1   223
26                               14               0   209
27                               14               1   113
28                               15               0    78
29                               15               1    53
30                               16               0    48
31                               16               1    20
32                               17               0    37
33                               17               1    16
34                               18               0    40
35                               18               1    18
36                               19               0    15
37                               19               1     4
38                               20               0     3
39                               21               0     1
40                               21               1     2
41                               22               0     9
42                               22               1     6
43                              110               1     1

In [4]:
data_encoded = data

In [5]:
education_categories = [['Primary school', 'Middle school', 'Highschool', 'Vocational school', 'Post secondary school', 'College', 'University', 'Post-graduate', 'Other', 'Missing']]

encoder_education = OrdinalEncoder(categories=education_categories)

# Fit and transform the 'education' data
encoded_education = encoder_education.fit_transform(data_encoded[["EDUCATION"]])

In [6]:
data_encoded['EDUCATION_ENCODED']=encoded_education

#Now encoding Employee_No column

employee_no_categories=[['between 0-10','between 11-20','between 21-50','between 51-100','between 101-250','between 251-500','between 501-1.000','> 1.000','Missing']]

encoder_employee = OrdinalEncoder(categories=employee_no_categories)

# Fit and transform the 'education' data
encoded_employee = encoder_employee.fit_transform(data_encoded[["EMPLOYEE_NO"]])

In [7]:
data_encoded['EMPLOYEE_NO_ENCODED']=encoded_employee

,PRODUCT,AGE,AREA,RESIDENTIAL_PLACE,EDUCATION,MARITAL_STATUS,HOUSEHOLD_MEMBERS,NO_OF_DEPENDENTS,INCOME,WORK_SENIORITY,...,CURRENT_ACCOUNT,SAVING_ACCOUNT,SALARY_ACCOUNT,FOREIGN_ACCOUNT,FINALIZED_LOAN,DEPOSIT,PENSION_FUNDS,DEFAULT_FLAG,EDUCATION_ENCODED,EMPLOYEE_NO_ENCODED
0,C,65,County capital,Owner without mortgage,University,married,2,0,1245.0,5,...,0,0,0,0,0,0,0,0,6.0,8.0
1,C,64,County capital,Owner without mortgage,University,married,2,0,1380.0,5,...,0,0,0,0,0,0,0,0,6.0,8.0
2,F,30,Urban area,Living with family,University,married,2,0,1131.0,2,...,1,0,0,0,0,0,0,0,6.0,7.0
3,C,39,County capital,Owner without mortgage,Post-graduate,divorced,1,0,1730.0,9,...,0,0,0,0,0,0,0,0,7.0,1.0
4,B,38,County capital,Owner without mortgage,Highschool,single,1,0,1189.0,5,...,1,0,0,0,0,0,0,0,2.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,F,31,County capital,Living with family,Post-graduate,married,2,0,1886.0,8,...,1,0,0,0,0,0,0,0,7.0,7.0
15093,C,54,Rural area,Living with family,Highschool,single,1,0,670.0,36,...,0,0,0,0,1,0,0,0,2.0,4.0
15094,C,45,County capital,Owner without mortgage,University,single,1,0,4794.0,11,...,0,0,0,0,0,0,0,0,6.0,7.0
15095,C,57,County capital,Owner without mortgage,University,married,2,0,3733.6,11,...,1,0,0,0,0,0,0,0,6.0,5.0
15096,C,38,Urban area,Owner without mortgage,Highschool,married,2,0,1408.0,7,...,1,0,0,0,1,0,0,0,2.0,5.0

In [8]:
one_hot_columns=data_encoded.select_dtypes(include=['object']).columns.drop(['EDUCATION','EMPLOYEE_NO',"ECONOMIC_SECTOR"]).tolist()

data_encoded=pd.get_dummies(data_encoded,columns=one_hot_columns)

data_encoded =data_encoded.drop(columns=["EMPLOYEE_NO","EDUCATION"])

economic_known=data_encoded[data_encoded["ECONOMIC_SECTOR"]!="Missing"]
economic_unknown=data_encoded[data_encoded["ECONOMIC_SECTOR"]=="Missing"]

In [9]:
# Assuming all other columns are used as features and have been appropriately encoded
features = economic_known.drop(['ECONOMIC_SECTOR'], axis=1)
target = economic_known['ECONOMIC_SECTOR']

# Train a Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(features, target)

RandomForestClassifier(random_state=42)

In [10]:
predictions = model.predict(economic_unknown.drop(['ECONOMIC_SECTOR'], axis=1))
predictions

array(['Transportation and storage', 'Manufacturing', 'Manufacturing',
       ..., 'Manufacturing', 'Manufacturing', 'Manufacturing'],
      dtype=object)

In [11]:
data.loc[data['ECONOMIC_SECTOR']=="Missing","ECONOMIC_SECTOR"]=predictions

In [12]:
data["ECONOMIC_SECTOR"].unique()

array(['Transportation and storage', 'Manufacturing', 'Other',
       'Education', 'Public administration and defence',
       'Wholesale and retail trade',
       'Human health and social work activities',
       'Professional, scientific and technical activities',
       'Electricity and gas', 'Construction',
       'Financial and insurance activities', 'Water supply',
       'Mining and quarrying', 'Information and communication',
       'Agriculture, hunting and forestry',
       'Accommodation and food service activities',
       'Real estate activities'], dtype=object)

In [ ]:
# Low variance columns: These columns are highly skewed with a dominant value, reducing their potential predictive power.
columns_to_remove_low_variance = ['SAVING_ACCOUNT', 'FOREIGN_ACCOUNT', 'DEPOSIT', 'PENSION_FUNDS']

# Columns to remove due to concerns of high correlation or redundancy
columns_to_remove_correlation_concerns = ['HOUSEHOLD_MEMBERS', 'DEBIT_CARD']

# All columns to remove
columns_to_remove = columns_to_remove_low_variance + columns_to_remove_correlation_concerns

# Removing the columns from the dataset
data_cleaned = data.drop(columns=columns_to_remove)


data_cleaned.head()

In [ ]:
# Let's check the rows, which are duplicated. We will not remove them, because they may have some value to our model
data_cleaned[data_cleaned.duplicated()].shape[0]

In [ ]:
# We have removed rows with 'Missing' values in 'AREA'
data_no_missing_area = data_cleaned[data_cleaned['AREA'] != 'Missing']

rows_after_removal = data_no_missing_area.shape[0]
rows_removed = data_cleaned.shape[0] - rows_after_removal

rows_removed, rows_after_removal

In [ ]:
order_by_median = data_no_missing_area.groupby('EDUCATION')['INCOME'].median().reset_index().sort_values('INCOME')['EDUCATION']
plt.figure(figsize=(24, 16))
sns.boxplot(y="EDUCATION", x="INCOME", data=data_no_missing_area, width=0.7, order=order_by_median,showfliers=False)

plt.title('Income distribution in terms of education after inputation', fontsize=16)
plt.xlabel('Income', fontsize=14)
plt.ylabel('Education ', fontsize=14)
plt.show()
data_no_missing_area["BUSINESS AGE"].max()

In [ ]:
#Let's see the distribution of education in the groups:
education_data_before=data_no_missing_area.groupby("EDUCATION").size().reset_index(name="count_before")
education_data_before

In [ ]:
data_without_missing_education=data_no_missing_area[data_no_missing_area['EDUCATION']!="Missing"]
missing_education_median_incomes=data_without_missing_education.groupby("EDUCATION").median()["INCOME"].reset_index()

def impute_education(row):
    if row['EDUCATION'] == "Missing":
        min_income = float('inf')
        closest_education = "Missing"
        for i in range(len(missing_education_median_incomes)):
            temp = abs(missing_education_median_incomes.at[i, "INCOME"] - row["INCOME"])
            if temp < min_income:
                closest_education = missing_education_median_incomes.at[i, "EDUCATION"]
                min_income = temp
        return closest_education
    else:
        return row['EDUCATION']
data_no_missing_area_copy=data_no_missing_area.copy()

data_no_missing_area_copy.loc[:,'EDUCATION']=data_no_missing_area.apply(impute_education, axis=1)

# Lets see how the distribution looks like now, and how the proportion of education changed

In [ ]:
new_row = {'EDUCATION': 'Missing', 'count_after': 0}

education_data_after=data_no_missing_area_copy.groupby("EDUCATION").size().reset_index(name="count_after")
education_data_after=pd.concat([education_data_after.iloc[:3], pd.DataFrame([new_row]), education_data_after.iloc[3:]]).reset_index(drop=True)

education_data_before.merge(education_data_after,on="EDUCATION", suffixes=('_before', '_after')).assign(increase=lambda x: 100*(x['count_after']-x['count_before'])/ x['count_before'])

In [ ]:
# Let's delete showfliers
plt.figure(figsize=(24, 16))
sns.boxplot(y="EDUCATION", x="INCOME", data=data_no_missing_area_copy, width=0.7, order=order_by_median,showfliers=False)

plt.title('Income distribution in terms of education after inputation', fontsize=16)
plt.xlabel('Income', fontsize=14)
plt.ylabel('Education ', fontsize=14)
plt.show()
data_no_missing_area["BUSINESS AGE"].max()

In [ ]:
# Let's now focus on outliers. We will focus on lower percentile 1% and upper percentile 99% and change all these values
for col in ['AGE', 'WORK_SENIORITY', 'BUSINESS AGE']:
    lower_bound = data_no_missing_area_copy[col].quantile(0.01)
    upper_bound = data_no_missing_area_copy[col].quantile(0.99)
    data_no_missing_area_copy[col] = data_no_missing_area_copy[col].clip(lower=lower_bound, upper=upper_bound)

In [ ]:
# Let's change outliers for Income
income_upper_bound = data_no_missing_area_copy['INCOME'].quantile(0.99)
income_median = data_no_missing_area_copy['INCOME'].median()
data_no_missing_area_copy['INCOME'] = np.where(data_no_missing_area_copy['INCOME'] > income_upper_bound, income_median, data_no_missing_area_copy['INCOME'])

In [ ]:
# Deleting extraordinary outliers. Firstly let's consider length_relationship_with_client

data_no_outlier_relationship=data_no_missing_area_copy[data_no_missing_area['LENGTH_RELATIONSHIP_WITH_CLIENT']<100]
rows_after_removal=data_no_outlier_relationship.shape[0]
rows_removed = data_no_missing_area_copy.shape[0] - rows_after_removal

rows_removed, rows_after_removal

In [ ]:
# Now let's take the first column with types of products. We can clearly see that the products A and D have infinitesimal number of appearences
data_no_outlier_products=data_no_outlier_relationship[(data_no_outlier_relationship['PRODUCT']!='A') & (data_no_outlier_relationship['PRODUCT']!='D')]
rows_after_removal=data_no_outlier_products.shape[0]
rows_removed=data_no_outlier_relationship.shape[0]-rows_after_removal

rows_removed, rows_after_removal

In [ ]:
# # Applying log transformation
# data_no_outlier_relationship['LENGTH_RELATIONSHIP_WITH_CLIENT_LOG'] = np.log1p(data_no_outlier_relationship['LENGTH_RELATIONSHIP_WITH_CLIENT'])

# # Plotting the distribution of the transformed LENGTH_RELATIONSHIP_WITH_CLIENT
# plt.figure(figsize=(10, 6))
# sns.histplot(data_no_outlier_relationship['LENGTH_RELATIONSHIP_WITH_CLIENT_LOG'], kde=True, bins=30)
# plt.title('Rozkład długości relacji z klientem po transformacji logarytmicznej')
# plt.xlabel('Logarytm długości relacji z klientem (lata)')
# plt.ylabel('Liczba klientów')
# plt.show()

# # Calculate the skewness after log transformation
# length_relationship_log_skew = data_no_outlier_relationship['LENGTH_RELATIONSHIP_WITH_CLIENT_LOG'].skew()
# length_relationship_log_skew